body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#app{
    background-color: purple;
}
#game{
    background-color: blue;
}
.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin:8px auto;
}